.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.popup__container{
    position: relative;
    max-width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px #00000026;
    margin: 0;
    padding: 0;
}

.popup__container_close-button{
    position: absolute;
    top: -35px;
    right: -40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.popup__container_close-button_icon{
    max-width: 40px;
    height: 40px;
    background-color: transparent;
}

.popup__container_close-button_icon:hover {
    opacity: 80%;    
}

.popup__form{
    background-color: #fff;
    border: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 34px 36px 36px;
    margin: 0;
}

.popup__form-title{
    width: 100%;
    height: 23px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    text-align: start;
    background-color: transparent;
    color: #000;
    margin-bottom: 54px;
    padding: 0;
    display: block;
}

.popup_opened{
    display: flex;
}

.popup__form-input{
    max-width: 358px;
    height: 27px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    background-color: #fff;
    border: none;
    border-radius: 0;
}

.popup__form_input, #name, #description{
    display: inline-block;
    width: 100%;
    align-content: flex-start;
    padding: 0;
}

.popup__form_input, #title, #image-link{
    display: inline-block;
    width: 100%;
    align-content: flex-start;
    padding: 0;
}

.popup__form-divider{
    max-width: 358px;
    border: 0 solid #000000;
    opacity: 20%;
    padding: 0;
    }

.popup__form-divider, #divisor1{
    margin-bottom: 29px;
}

.popup__form-divider, #divisor2{
    margin-bottom: 29px;
}

.popup__form_submit-button{
    max-width: 358px;
    width: 100%;
    height: 50px;
    color: #fff;
    margin-top: auto;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    background-color: #000;
    text-align: center;
    padding: 14px 124px;
    border-radius: 0;
    
}

.popup__form_submit-button:hover{
    opacity: 80%;
}

@media screen and (max-width: 800px){
    .popup__container_close-button{
        position: inherit;
        top: -15px;
        right: -15px;
    }

}

@media screen and (max-width: 320px){
    .popup__container{
        max-width: 280px;
        height: 322px;
        margin: 0 auto;
    }

    .popup__container_close-button{
        top: -15px;
        right: -120px;
    }

    .popup__container_close-button_icon{
        max-width: 26px;
        height: 26px;
    }

    .popup__form-title{
        font-size: 24px;
        margin-bottom: 76px;
    }
    .popup__form_input{
        max-width: 238px;
    }
    .popup__form-divider{
        max-width: 238px;
    }

    .popup__cform-divider, #divisor1{
        margin-bottom: 30px;
    }

    .popup__form_submit-button{
        max-width: 238px;
    }
}