.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999;
    display: none;;
}

.popup__container{
    max-width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px #00000026;
    margin: 0;
    padding: 0;
}

.popup__container_close-button{
    position: absolute;
    top: 200px;
    right: 375px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.popup__container_close-button_icon{
    max-width: 40px;
    height: 40px;
}

.popup__container_form{
    background-color: #fff;
    border: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 34px 36px 36px;
    margin: 0;
}

.popup__container_form-title{
    width: 100%;
    height: 23px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    background-color: transparent;
    color: #000;
    margin-bottom: 24px;
}

.popup_is-opened{
    display: flex;
}

.popup__container_form_input{
    max-width: 358px;
    height: 27.26px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    background-color: #fff;
    border: none;
    padding: 8px, 0; 
    
}

.popup__container_form_input, #name{
    display: inline-block;
    width: 100%;
    align-content: flex-start;
}

.popup__container_form-divider{
    max-width: 358px;
    opacity: 20%;
    border: 0 solid #000000;
}

.popup__container_form-divider, #divisor1{
    margin-bottom: 29px;
}

.popup__container_form_submit-button{
    max-width: 358px;
    width: 100%;
    height: 50px;
    color: #fff;
    margin-top: auto;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    background-color: #000;
    text-align: center;
}

.popup__container_form_submit-button:hover{
    opacity: 80%;
}